/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

/*"Introduction" Section */
.ideas-section__ul {
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
}

/*"Believes" Section */
.believes-section_background {
    border-right: 1px solid #530f5c;
    border-bottom: 1px solid #530f5c;
    border-left: 1px solid #530f5c;
    /*margin-bottom: 1em;*/

}
.believes-section__title {
    font-family: 'Roboto', sans-serif;
    background-color: #530f5c;
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
    margin-top: 0;
}
.believes-section__subtitle {
    font-family: 'Open Sans', sans-serif;
    color: #403f3f;
    text-align: center;
}
.believes-section___p {
    font-family: 'Open Sans', sans-serif;
    color: #403f3f;
    margin-left: 0.5em;
    padding-bottom: 2em;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 34em) {
    @supports (display: grid) {

        /*"Introduction" Section */
        .ideas__introduction-section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto auto;
            grid-template-areas:
                    "main main"
                    "img side"
                    "footer footer";
        }
        .intro-p {
            grid-area: main;
        }
        .ideas-section__ul {
            grid-area: side;
            align-self: center;
        }
        .ideas__img-intro {
            grid-area: img;
            padding-top: 1em;
        }
        .intro-last-p {
            grid-area: footer;
        }
        /*"Believes" Section */
        .believes_section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                    "side footer"
                    "main main";
        }
        .believes1 {
            grid-area: side;
        }
        .believes2 {
            grid-area: footer;
        }
        .objectivism_section {
            grid-area: main
        }
        .objectivism__img {
            padding-top: 2em;
        }

    }
}