/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.work_section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.figure {
    width: 50%;
    margin: 0;
    margin-bottom: 1.5em;
}
.figure__img {
    width: 50%;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 34em) {
    @supports (display: grid) {


    }
}